<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PlanIt home page">
    <meta name="keywords" content="home planner, plan, calendar"> 
    <title>PlanIt | Home</title>
    <link rel="stylesheet" type="text/css" href="dashStyleSheet.css">
  </head>
  <!----- HEADER -------->
  <div class="header">
    <a href="#default" class="logo">PlanIt</a>
    <div class="header-right">
      <a href="#">Sign out</a>
    </div>
  </div>
  <!----- SIDE NAVIGATION ---->
  <div class="row">
    <div class="side">
      <h3>Nav</h3>
      <p>Link</p>
      <p>Link</p>
      <h3>Link</h3>
      <br>
      <h3>Nav</h3>
      <p>Link</p>
      <p>Link</p>
      <p>Link</p>
    </div>
     <!--- INFO RIGTH --->
    <div class="main">
    <div class="block1">
      <h2>To do</h2>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <br>
    <div class="block2">
      <h2>Shoppinglist</h2>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    </div>
    <!--- INFO RIGTH --->
    <div class="main2">
    <div class="block3">
        <h2>Calendar</h2>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <br>
    <div class="block4">
        <h2>Budget</h2>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
      </div>
  </div>
  <!-- Footer -->
  <div class="footer">
    <h2>FOOTER</h2>
  </div>
  
  </body>
  </html>