<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <title>Checkpoint</title>
</head>

<body>
    <div class="form">
        <form id="contact_form" method="POST">
            <h2>Login </h2>
        
                <div id="name_input">
                <label for="loginName">Login Name: </label><br><br>
                <input type="text" name="loginName" placeholder="Login Name"><br>

                <label for="password">Password: </label><br>
                <input type="password" placeholder="Password"><br>

                <button class="button" id="form_button">Submit</button><br>

                <p ><a href="/register">Sign up! </a></p>
            </div><br><br>
        </form>
    </div>
</body>

</html>