<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
    <title>Plan It</title>
</head>

<body>
    <div class="form">
        <form id="contact_form">
            <h2>Register</h2>
                <div id="name_input">
                <label for="name">Your Name: </label><br><br>
                <input id="first" type="text" name="firstname" placeholder="First Name"><br>
                <input id="last" type="text" name="lastname" placeholder="Last Name"><br>
                <label for="email">Email Adress: </label><br>
                <input type="email" placeholder="excample@example.com"><br>
                <label for="phone">Phone Number: </label><br>
                <input type="email" placeholder="+47 413 54 734"><br>
                <button class="button" id="form_button">Submit</button><br>
        </div><br><br>
        </form>
    </div>
</body>

</html>