<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href=""/>
    <title>Plan It</title>
</head>

<body>
<div class="form">
    <form id="contact_form" method="POST" action="/register">
        <h2>Register</h2>
        <div id="name_input">

            <label for="first">Your Name: </label><br>
            <input id="first" type="text" name="firstname" placeholder="First Name" autofocus>
            <input id="last" type="text" name="lastname" placeholder="Last Name" autofocus>
            <br><br>
            <label>Enter username: </label><br>
            <input type="text" name="username" placeholder="Username.." autofocus required><br><br>

            <label>Enter password: </label><br>
            <input type="text" name="password" placeholder="Password.." autofocus required>
            <br><br>
            <label>Re-enter password: </label><br>
            <input type="text" name="password2" placeholder="Password.." autofocus required>
            <h6 th:text="${invalidPassword}"></h6>
            <br><br>
            <label for="email">Email Address: </label><br>
            <input id="email" type="email" placeholder="Enter email.." name="email" autofocus>
            <br><br>
            <button class="button" id="form_button">Submit</button>
            <br>

            <div th:each="user : ${allUser}" >
            <p th:text="${user}"></p>
            </div>

        </div>
        <br><br>
    </form>
</div>
</body>

</html>